:root {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

/* Sidebar */
.sidebar-container {
    border: 2px solid black;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 20px;
}

.icon-title {
    border: 2px solid black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Header */
.header-container {
    border: 2px solid red;
}

/* Main Content */
.main-content-container {
    border: 2px solid green;
}